$background-color: #fce7f3;
$border-color: #f472b6;
$text-color: #c6538c;

$button-bg-color: #ec4899;
$button-bg-hover-color: #be185d;
$button-border-color: #c6538c;

$button-text-color: #ecf4ee;
$text-btn-hover-color: #be185d;
